.container {
  font-size: calc(2 / 3 * 1rem);
  padding-bottom: 1rem;
  text-align: center;
}

.link {
  display: block;
  float: left;
  padding: 0.5rem 0;
  width: 50%;
}

@media (min-width: 18em) {
  .link {
    display: inline;
    float: none;
    margin-right: 0.5rem;
    padding: 0;
    width: auto;
  }
}
